.Category {
  width: 100%;
  padding-top: 30px;
  margin-bottom: 200px;
}

.Category_title {
  display: flex;
  align-items: flex-end;
  width: 100%;
  margin: 40px 0 50px 50px;
}

.Category_title h1,
.Category_title p {
  margin: 0 0 0 20px;
  padding: 0;
}

@media screen and (max-width: 800px) {
  .Category_title {
    margin-left: 30px;
    margin-top: 0;
  }
}
