.Shop_container {
	display: flex;
	padding-top: 80px;
	width: 100%;
	padding-right: 20px;
	box-sizing: border-box;
}

.Shop {
	margin-left: 20px;
}

@media screen and (min-width: 801px) {
	.Shop {
		width: 100%;
		margin-bottom: 200px;
	}
}
