.ShopPageHeader_navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  padding-left: 30px;
  margin-top: 10px;
}

.ShopPageHeader i {
  color: gray;
  font-size: 18px;
  margin-right: 5px;
}

.ShopPageHeader a {
  font-size: 18px;
  margin-right: 5px;
}

.ShopPageHeader p {
  margin: 0;
  padding: 0;
  height: auto;
  font-size: 18px;
  margin-right: 5px;
}

@media screen and (min-width: 801px) {
  .ShopPageHeader_categoriesMobile {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .ShopPageHeader_categoriesMobile {
    display: flex;
    margin: 35px 0;
    overflow-x: scroll;
    overflow: -moz-scrollbars-none;
    -ms-overflow-style: none;
  }

  .ShopPageHeader_categoriesMobile::-webkit-scrollbar {
    display: none;
  }

  .ShopPageHeader_scroll {
    position: fixed;
    background-color: black;
  }

  .Categories_title {
    color: var(--gray-text);
    margin-right: 20px;
    border-radius: 20px;
    border: 1px solid gray;
  }

  .ShopPageHeader_categoriesMobile p {
    margin-right: 20px;
    white-space: nowrap;
    padding: 5px;
  }
}
