.Notifications_container {
	background-color: white;
	border-radius: 10px;
	padding: 25px;
	box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
		0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
		0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
	/* margin-top: 50px; */
}

.Notification_panel {
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid var(--gray-border);
	height: 150px;
}

.Panel_description {
	width: 80%;
}

.Panel_description h4 {
	margin: 0 0 20px;
}

.Panel_description p {
	margin: 0;
}

.Checkbox {
	opacity: 0;
	width: 0;
	height: 0;
	display: none;
}

.Toggle {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 25px;
	background-color: gray;
	border-radius: 30px;
	border: 2px solid gray;
}

/* After slide changes */
.Toggle:after {
	content: "";
	position: absolute;
	width: 23px;
	height: 23px;
	border-radius: 50%;
	background-color: white;
	top: 1px;
	left: 1px;
	transition: all 0.5s;
}

/* Checkbox checked effect */
.Checkbox:checked + .Toggle:after {
	left: 26px;
}

/* Checkbox checked toggle label bg color */
.Checkbox:checked + .Toggle {
	background-color: var(--green-bg);
}

@media screen and (min-width: 801px) {
	.Notifications {
		width: 90%;
	}

	.Notifications_email {
		margin-top: 50px;
	}
}

@media screen and (max-width: 800px) {
	.Notifications {
		padding-top: 20px;
	}

	.Notifications h1 {
		margin-left: 20px;
	}

	.Notifications_email {
		margin-left: 20px;
		margin-top: 30px;
	}
}
